# Introductory examples

## 1.usa.gov data from bit.ly

In [ ]:
%pwd

In [ ]:
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'

In [ ]:
open(path).readline()

In [ ]:
import json
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'
records = [json.loads(line) for line in open(path)]

In [ ]:
records[0]

In [ ]:
records[0]['tz']

In [ ]:
print(records[0]['tz'])

### Counting time zones in pure Python

In [ ]:
time_zones = [rec['tz'] for rec in records]

In [ ]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]

In [ ]:
time_zones[:10]

In [ ]:
def get_counts(sequence):
    counts = {}
    for x in sequence:
        if x in counts:
            counts[x] += 1
        else:
            counts[x] = 1
    return counts

In [ ]:
from collections import defaultdict

def get_counts2(sequence):
    counts = defaultdict(int) # values will initialize to 0
    for x in sequence:
        counts[x] += 1
    return counts

In [ ]:
counts = get_counts(time_zones)

In [ ]:
counts['America/New_York']

In [ ]:
len(time_zones)

In [ ]:
def top_counts(count_dict, n=10):
    value_key_pairs = [(count, tz) for tz, count in count_dict.items()]
    value_key_pairs.sort()
    return value_key_pairs[-n:]

In [ ]:
top_counts(counts)

In [ ]:
from collections import Counter

In [ ]:
counts = Counter(time_zones)

In [ ]:
counts.most_common(10)

### Counting time zones with pandas

In [ ]:
%matplotlib inline

In [ ]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)

In [ ]:
import json
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'
lines = open(path).readlines()
records = [json.loads(line) for line in lines]

In [ ]:
from pandas import DataFrame, Series
import pandas as pd

frame = DataFrame(records)
frame

In [ ]:
frame['tz'][:10]

In [ ]:
tz_counts = frame['tz'].value_counts()
tz_counts[:10]

In [ ]:
clean_tz = frame['tz'].fillna('Missing')
clean_tz[clean_tz == ''] = 'Unknown'
tz_counts = clean_tz.value_counts()
tz_counts[:10]

In [ ]:
plt.figure(figsize=(10, 4))

In [ ]:
tz_counts[:10].plot(kind='barh', rot=0)

In [ ]:
frame['a'][1]

In [ ]:
frame['a'][50]

In [ ]:
frame['a'][51]

In [ ]:
results = Series([x.split()[0] for x in frame.a.dropna()])
results[:5]

In [ ]:
results.value_counts()[:8]

In [ ]:
cframe = frame[frame.a.notnull()]

In [ ]:
operating_system = np.where(cframe['a'].str.contains('Windows'),
                            'Windows', 'Not Windows')
operating_system[:5]

In [ ]:
by_tz_os = cframe.groupby(['tz', operating_system])

In [ ]:
agg_counts = by_tz_os.size().unstack().fillna(0)
agg_counts[:10]

In [ ]:
# Use to sort in ascending order
indexer = agg_counts.sum(1).argsort()
indexer[:10]

In [ ]:
count_subset = agg_counts.take(indexer)[-10:]
count_subset

In [ ]:
plt.figure()

In [ ]:
count_subset.plot(kind='barh', stacked=True)

In [ ]:
plt.figure()

In [ ]:
normed_subset = count_subset.div(count_subset.sum(1), axis=0)
normed_subset.plot(kind='barh', stacked=True)

## MovieLens 1M data set

In [ ]:
import pandas as pd
import os
encoding = 'latin1'

upath = os.path.expanduser('ch02/movielens/users.dat')
rpath = os.path.expanduser('ch02/movielens/ratings.dat')
mpath = os.path.expanduser('ch02/movielens/movies.dat')

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
mnames = ['movie_id', 'title', 'genres']

users = pd.read_csv(upath, sep='::', header=None, names=unames, encoding=encoding)
ratings = pd.read_csv(rpath, sep='::', header=None, names=rnames, encoding=encoding)
movies = pd.read_csv(mpath, sep='::', header=None, names=mnames, encoding=encoding)

In [ ]:
users[:5]

In [ ]:
ratings[:5]

In [ ]:
movies[:5]

In [ ]:
ratings

In [ ]:
data = pd.merge(pd.merge(ratings, users), movies)
data

In [ ]:
data.ix[0]

In [ ]:
mean_ratings = data.pivot_table('rating', index='title',
                                columns='gender', aggfunc='mean')
mean_ratings[:5]

In [ ]:
ratings_by_title = data.groupby('title').size()

In [ ]:
ratings_by_title[:5]

In [ ]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]

In [ ]:
active_titles[:10]

In [ ]:
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings

In [ ]:
mean_ratings = mean_ratings.rename(index={'Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)':
                           'Seven Samurai (Shichinin no samurai) (1954)'})

In [ ]:
top_female_ratings = mean_ratings.sort_values(by='F', ascending=False)
top_female_ratings[:10]

### Measuring rating disagreement

In [ ]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [ ]:
sorted_by_diff = mean_ratings.sort_values(by='diff')
sorted_by_diff[:15]

In [ ]:
# Reverse order of rows, take first 15 rows
sorted_by_diff[::-1][:15]

In [ ]:
# Standard deviation of rating grouped by title
rating_std_by_title = data.groupby('title')['rating'].std()
# Filter down to active_titles
rating_std_by_title = rating_std_by_title.ix[active_titles]
# Order Series by value in descending order
rating_std_by_title.order(ascending=False)[:10]

### US Baby Names 1880-2010

In [27]:
from __future__ import division
from numpy.random import randn
import numpy as np
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 5))
np.set_printoptions(precision=4)
%pwd

u'/Users/js-mac/GitHub/pydata-book'

http://www.ssa.gov/oact/babynames/limits.html

In [28]:
!head -n 10 ch02/names/yob1880.txt

In [29]:
import pandas as pd
names1880 = pd.read_csv('ch02/names/yob1880.txt', names=['name', 'sex', 'births'])
names1880

           name sex  births
0          Mary   F    7065
1          Anna   F    2604
2          Emma   F    2003
3     Elizabeth   F    1939
4        Minnie   F    1746
5      Margaret   F    1578
6           Ida   F    1472
7         Alice   F    1414
8        Bertha   F    1320
9         Sarah   F    1288
10        Annie   F    1258
11        Clara   F    1226
12         Ella   F    1156
13     Florence   F    1063
14         Cora   F    1045
15       Martha   F    1040
16        Laura   F    1012
17       Nellie   F     995
18        Grace   F     982
19       Carrie   F     949
20        Maude   F     858
21        Mabel   F     808
22       Bessie   F     794
23       Jennie   F     793
24     Gertrude   F     787
25        Julia   F     783
26       Hattie   F     769
27        Edith   F     768
28       Mattie   F     704
29         Rose   F     700
...         ...  ..     ...
1970      Philo   M       5
1971    Phineas   M       5
1972    Presley   M       5
1973     Ransom   M       5
1974      Reece   M       5
1975       Rene   M       5
1976    Roswell   M       5
1977    Rowland   M       5
1978    Sampson   M       5
1979     Samual   M       5
1980     Santos   M       5
1981   Schuyler   M       5
1982   Sheppard   M       5
1983   Spurgeon   M       5
1984   Starling   M       5
1985   Sylvanus   M       5
1986   Theadore   M       5
1987  Theophile   M       5
1988     Tilmon   M       5
1989      Tommy   M       5
1990    Unknown   M       5
1991       Vann   M       5
1992        Wes   M       5
1993    Winston   M       5
1994       Wood   M       5
1995     Woodie   M       5
1996     Worthy   M       5
1997     Wright   M       5
1998       York   M       5
1999  Zachariah   M       5

[2000 rows x 3 columns]

In [30]:
names1880.groupby('sex').births.sum()

sex
F     90993
M    110493
Name: births, dtype: int64

In [31]:
# 2010 is the last available year right now
years = range(1880, 2011)

pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path = 'ch02/names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)
    frame['year'] = year
    pieces.append(frame)

# Concatenate everything into a single DataFrame
names = pd.concat(pieces, ignore_index=True)
names

              name sex  births  year
0             Mary   F    7065  1880
1             Anna   F    2604  1880
2             Emma   F    2003  1880
3        Elizabeth   F    1939  1880
4           Minnie   F    1746  1880
5         Margaret   F    1578  1880
6              Ida   F    1472  1880
7            Alice   F    1414  1880
8           Bertha   F    1320  1880
9            Sarah   F    1288  1880
10           Annie   F    1258  1880
11           Clara   F    1226  1880
12            Ella   F    1156  1880
13        Florence   F    1063  1880
14            Cora   F    1045  1880
15          Martha   F    1040  1880
16           Laura   F    1012  1880
17          Nellie   F     995  1880
18           Grace   F     982  1880
19          Carrie   F     949  1880
20           Maude   F     858  1880
21           Mabel   F     808  1880
22          Bessie   F     794  1880
23          Jennie   F     793  1880
24        Gertrude   F     787  1880
25           Julia   F     783  1880
26          Hattie   F     769  1880
27           Edith   F     768  1880
28          Mattie   F     704  1880
29            Rose   F     700  1880
...            ...  ..     ...   ...
1690754    Zaviyon   M       5  2010
1690755   Zaybrien   M       5  2010
1690756   Zayshawn   M       5  2010
1690757     Zayyan   M       5  2010
1690758       Zeal   M       5  2010
1690759     Zealan   M       5  2010
1690760   Zecharia   M       5  2010
1690761   Zeferino   M       5  2010
1690762   Zekariah   M       5  2010
1690763       Zeki   M       5  2010
1690764     Zeriah   M       5  2010
1690765     Zeshan   M       5  2010
1690766     Zhyier   M       5  2010
1690767   Zildjian   M       5  2010
1690768       Zinn   M       5  2010
1690769     Zishan   M       5  2010
1690770      Ziven   M       5  2010
1690771      Zmari   M       5  2010
1690772      Zoren   M       5  2010
1690773     Zuhaib   M       5  2010
1690774     Zyeire   M       5  2010
1690775    Zygmunt   M       5  2010
1690776   Zykerion   M       5  2010
1690777      Zylar   M       5  2010
1690778      Zylin   M       5  2010
1690779    Zymaire   M       5  2010
1690780     Zyonne   M       5  2010
1690781  Zyquarius   M       5  2010
1690782      Zyran   M       5  2010
1690783      Zzyzx   M       5  2010

[1690784 rows x 4 columns]

In [32]:
total_births = names.pivot_table('births', index='year',
                                 columns='sex', aggfunc=sum)

In [33]:
total_births.tail()

sex         F        M
year
2006  1896468  2050234
2007  1916888  2069242
2008  1883645  2032310
2009  1827643  1973359
2010  1759010  1898382

In [34]:
%matplotlib
total_births.plot(title='Total births by sex and year')

Using matplotlib backend: MacOSX

In [35]:
def add_prop(group):
    # Integer division floors
    births = group.births.astype(float)
    group['prop'] = births / births.sum()
    return group
names = names.groupby(['year', 'sex']).apply(add_prop)

In [44]:
names.head()

        name sex  births  year      prop
0       Mary   F    7065  1880  0.077643
1       Anna   F    2604  1880  0.028618
2       Emma   F    2003  1880  0.022013
3  Elizabeth   F    1939  1880  0.021309
4     Minnie   F    1746  1880  0.019188

In [45]:
np.allclose(names.groupby(['year', 'sex']).prop.sum(), 1)

True

In [56]:
def get_top1000(group):
    return group.sort_values(by='births', ascending=False)[:1000]
grouped = names.groupby(['year', 'sex'])
top1000 = grouped.apply(get_top1000)

              name sex  births  year      prop
0             Mary   F    7065  1880  0.077643
1             Anna   F    2604  1880  0.028618
2             Emma   F    2003  1880  0.022013
3        Elizabeth   F    1939  1880  0.021309
942           John   M    9655  1880  0.087381
943        William   M    9533  1880  0.086277
944          James   M    5927  1880  0.053641
945        Charles   M    5348  1880  0.048401
2000          Mary   F    6919  1881  0.075243
2001          Anna   F    2698  1881  0.029340
2002          Emma   F    2034  1881  0.022120
2003     Elizabeth   F    1852  1881  0.020140
2938          John   M    8769  1881  0.087039
2939       William   M    8524  1881  0.084607
2940         James   M    5442  1881  0.054016
2941        George   M    4664  1881  0.046294
3935          Mary   F    8149  1882  0.075558
3936          Anna   F    3143  1882  0.029142
3937          Emma   F    2303  1882  0.021354
3938     Elizabeth   F    2187  1882  0.020278
4963          John   M    9557  1882  0.084064
4964       William   M    9298  1882  0.081786
4965         James   M    5892  1882  0.051827
4966        George   M    5193  1882  0.045678
6062          Mary   F    8012  1883  0.071331
6063          Anna   F    3306  1883  0.029433
6064          Emma   F    2367  1883  0.021073
6065     Elizabeth   F    2255  1883  0.020076
7116          John   M    8894  1883  0.085003
7117       William   M    8387  1883  0.080157
...            ...  ..     ...   ...       ...
1552457       Emma   F   18338  2007  0.009567
1552458        Ava   F   18031  2007  0.009406
1572975      Jacob   M   24216  2007  0.011703
1572976    Michael   M   21915  2007  0.010591
1572977      Ethan   M   20996  2007  0.010147
1572978     Joshua   M   20599  2007  0.009955
1587338       Emma   F   18765  2008  0.009962
1587339   Isabella   F   18564  2008  0.009855
1587340      Emily   F   17397  2008  0.009236
1587341     Olivia   F   17030  2008  0.009041
1607754      Jacob   M   22507  2008  0.011075
1607755    Michael   M   20524  2008  0.010099
1607756      Ethan   M   20174  2008  0.009927
1607757     Joshua   M   19133  2008  0.009414
1622344   Isabella   F   22222  2009  0.012159
1622345       Emma   F   17830  2009  0.009756
1622346     Olivia   F   17374  2009  0.009506
1622347     Sophia   F   16869  2009  0.009230
1642467      Jacob   M   21036  2009  0.010660
1642468      Ethan   M   19783  2009  0.010025
1642469    Michael   M   18822  2009  0.009538
1642470  Alexander   M   18175  2009  0.009210
1656946   Isabella   F   22731  2010  0.012923
1656947     Sophia   F   20477  2010  0.011641
1656948       Emma   F   17179  2010  0.009766
1656949     Olivia   F   16860  2010  0.009585
1676644      Jacob   M   21875  2010  0.011523
1676645      Ethan   M   17866  2010  0.009411
1676646    Michael   M   17133  2010  0.009025
1676647     Jayden   M   17030  2010  0.008971

[1048 rows x 5 columns]

In [57]:
pieces = []
for year, group in names.groupby(['year', 'sex']):
    pieces.append(group.sort_values(by='births', ascending=False)[:1000])
top1000 = pd.concat(pieces, ignore_index=True)

In [58]:
top1000.index = np.arange(len(top1000))

In [59]:
top1000

             name sex  births  year      prop
0            Mary   F    7065  1880  0.077643
1            Anna   F    2604  1880  0.028618
2            Emma   F    2003  1880  0.022013
3       Elizabeth   F    1939  1880  0.021309
4          Minnie   F    1746  1880  0.019188
5        Margaret   F    1578  1880  0.017342
6             Ida   F    1472  1880  0.016177
7           Alice   F    1414  1880  0.015540
8          Bertha   F    1320  1880  0.014507
9           Sarah   F    1288  1880  0.014155
10          Annie   F    1258  1880  0.013825
11          Clara   F    1226  1880  0.013474
12           Ella   F    1156  1880  0.012704
13       Florence   F    1063  1880  0.011682
14           Cora   F    1045  1880  0.011484
15         Martha   F    1040  1880  0.011429
16          Laura   F    1012  1880  0.011122
17         Nellie   F     995  1880  0.010935
18          Grace   F     982  1880  0.010792
19         Carrie   F     949  1880  0.010429
20          Maude   F     858  1880  0.009429
21          Mabel   F     808  1880  0.008880
22         Bessie   F     794  1880  0.008726
23         Jennie   F     793  1880  0.008715
24       Gertrude   F     787  1880  0.008649
25          Julia   F     783  1880  0.008605
26         Hattie   F     769  1880  0.008451
27          Edith   F     768  1880  0.008440
28         Mattie   F     704  1880  0.007737
29           Rose   F     700  1880  0.007693
...           ...  ..     ...   ...       ...
261847       Yair   M     201  2010  0.000106
261848      Talan   M     201  2010  0.000106
261849      Keyon   M     201  2010  0.000106
261850       Kael   M     201  2010  0.000106
261851   Demarion   M     200  2010  0.000105
261852     Gibson   M     200  2010  0.000105
261853     Reagan   M     200  2010  0.000105
261854  Cristofer   M     199  2010  0.000105
261855     Daylen   M     199  2010  0.000105
261856     Jordon   M     199  2010  0.000105
261857    Dashawn   M     198  2010  0.000104
261858      Masen   M     198  2010  0.000104
261859      Rowen   M     197  2010  0.000104
261860     Yousef   M     197  2010  0.000104
261861   Thaddeus   M     197  2010  0.000104
261862      Kadin   M     197  2010  0.000104
261863     Dillan   M     197  2010  0.000104
261864   Clarence   M     197  2010  0.000104
261865      Slade   M     196  2010  0.000103
261866    Clinton   M     196  2010  0.000103
261867    Sheldon   M     196  2010  0.000103
261868    Keshawn   M     195  2010  0.000103
261869   Menachem   M     195  2010  0.000103
261870     Joziah   M     195  2010  0.000103
261871     Bailey   M     194  2010  0.000102
261872     Camilo   M     194  2010  0.000102
261873     Destin   M     194  2010  0.000102
261874     Jaquan   M     194  2010  0.000102
261875     Jaydan   M     194  2010  0.000102
261876     Maxton   M     193  2010  0.000102

[261877 rows x 5 columns]

### Analyzing naming trends

In [60]:
boys = top1000[top1000.sex == 'M']
girls = top1000[top1000.sex == 'F']

In [61]:
total_births = top1000.pivot_table('births', index='year', columns='name',
                                   aggfunc=sum)
total_births

name,Aaden,Aaliyah,Aarav,Aaron,Aarush,Ab,Abagail,Abb,Abbey,Abbie,...,Zoa,Zoe,Zoey,Zoie,Zola,Zollie,Zona,Zora,Zula,Zuri
year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,71.0,...,8.0,23.0,NaN,NaN,7.0,NaN,8.0,28.0,27.0,NaN
1881,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,81.0,...,NaN,22.0,NaN,NaN,10.0,NaN,9.0,21.0,27.0,NaN
1882,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,80.0,...,8.0,25.0,NaN,NaN,9.0,NaN,17.0,32.0,21.0,NaN
1883,NaN,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,79.0,...,NaN,23.0,NaN,NaN,10.0,NaN,11.0,35.0,25.0,NaN
1884,NaN,NaN,NaN,97.0,NaN,NaN,NaN,NaN,NaN,98.0,...,13.0,31.0,NaN,NaN,14.0,6.0,8.0,58.0,27.0,NaN
1885,NaN,NaN,NaN,88.0,NaN,6.0,NaN,NaN,NaN,88.0,...,6.0,27.0,NaN,NaN,12.0,6.0,14.0,48.0,38.0,NaN
1886,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,84.0,...,13.0,25.0,NaN,NaN,8.0,NaN,20.0,52.0,43.0,NaN
1887,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,104.0,...,9.0,34.0,NaN,NaN,23.0,NaN,28.0,46.0,33.0,NaN
1888,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,137.0,...,11.0,42.0,NaN,NaN,23.0,7.0,30.0,42.0,45.0,NaN
1889,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,107.0,...,14.0,29.0,NaN,NaN,22.0,NaN,29.0,53.0,55.0,NaN
1890,NaN,NaN,NaN,96.0,NaN,NaN,NaN,6.0,NaN,140.0,...,NaN,42.0,NaN,NaN,32.0,7.0,27.0,60.0,65.0,NaN
1891,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,124.0,...,NaN,34.0,NaN,NaN,29.0,6.0,14.0,52.0,45.0,NaN
1892,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,119.0,...,NaN,34.0,NaN,NaN,27.0,NaN,25.0,66.0,53.0,NaN
1893,NaN,NaN,NaN,81.0,NaN,NaN,NaN,NaN,NaN,115.0,...,NaN,23.0,NaN,NaN,34.0,6.0,15.0,67.0,70.0,NaN
1894,NaN,NaN,NaN,79.0,NaN,NaN,NaN,NaN,NaN,118.0,...,NaN,28.0,NaN,NaN,51.0,NaN,23.0,66.0,64.0,NaN
1895,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,92.0,...,NaN,34.0,NaN,NaN,60.0,11.0,38.0,55.0,55.0,NaN
1896,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,121.0,...,NaN,36.0,NaN,NaN,47.0,NaN,38.0,72.0,65.0,NaN
1897,NaN,NaN,NaN,87.0,NaN,NaN,NaN,NaN,NaN,97.0,...,NaN,35.0,NaN,NaN,51.0,NaN,28.0,67.0,79.0,NaN
1898,NaN,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,120.0,...,NaN,30.0,NaN,NaN,62.0,NaN,28.0,65.0,83.0,NaN
1899,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,87.0,...,NaN,27.0,NaN,NaN,49.0,6.0,31.0,56.0,60.0,NaN
1900,NaN,NaN,NaN,104.0,NaN,NaN,NaN,NaN,NaN,112.0,...,NaN,26.0,NaN,NaN,48.0,9.0,44.0,99.0,71.0,NaN
1901,NaN,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,87.0,...,NaN,26.0,NaN,NaN,56.0,NaN,31.0,58.0,57.0,NaN
1902,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,91.0,...,NaN,34.0,NaN,NaN,58.0,NaN,23.0,58.0,66.0,NaN
1903,NaN,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,91.0,...,NaN,19.0,NaN,NaN,64.0,NaN,41.0,83.0,74.0,NaN
1904,NaN,NaN,NaN,117.0,NaN,NaN,NaN,NaN,NaN,80.0,...,NaN,27.0,NaN,NaN,46.0,NaN,35.0,54.0,74.0,NaN
1905,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,73.0,...,NaN,24.0,NaN,NaN,66.0,8.0,24.0,55.0,61.0,NaN
1906,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,72.0,...,NaN,19.0,NaN,NaN,59.0,NaN,37.0,64.0,58.0,NaN
1907,NaN,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,79.0,...,NaN,19.0,NaN,NaN,53.0,11.0,39.0,92.0,72.0,NaN
1908,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN,NaN,84.0,...,NaN,23.0,NaN,NaN,70.0,NaN,31.0,59.0,53.0,NaN
1909,NaN,NaN,NaN,142.0,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,22.0,NaN,NaN,59.0,NaN,39.0,57.0,76.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,NaN,NaN,NaN,14832.0,NaN,NaN,NaN,NaN,383.0,292.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,14538.0,NaN,NaN,NaN,NaN,372.0,275.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,14627.0,NaN,NaN,NaN,NaN,419.0,223.0,...,NaN,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,13387.0,NaN,NaN,NaN,NaN,357.0,249.0,...,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,13123.0,NaN,NaN,NaN,NaN,314.0,233.0,...,NaN,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,12685.0,NaN,NaN,NaN,NaN,369.0,228.0,...,NaN,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,12676.0,NaN,NaN,NaN,NaN,327.0,228.0,...,NaN,248.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,14393.0,NaN,NaN,NaN,NaN,404.0,226.0,...,NaN,238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,15312.0,NaN,NaN,NaN,NaN,470.0,265.0,...,NaN,376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,14545.0,NaN,NaN,NaN,NaN,507.0,311.0,...,NaN,478.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,14240.0,NaN,NaN,NaN,NaN,451.0,278.0,...,NaN,722.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,14494.0,NaN,NaN,NaN,NaN,430.0,260.0,...,NaN,978.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,13819.0,NaN,NaN,NaN,NaN,503.0,291.0,...,NaN,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,1451.0,NaN,14379.0,NaN,NaN,NaN,NaN,597.0,351.0,...,NaN,1332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,1254.0,NaN,13277.0,NaN,NaN,NaN,NaN,549.0,351.0,...,NaN,1726.0,219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,831.0,NaN,11956.0,NaN,NaN,NaN,NaN,552.0,349.0,...,NaN,2063.0,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,1737.0,NaN,11156.0,NaN,NaN,NaN,NaN,645.0,386.0,...,NaN,2363.0,407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,1399.0,NaN,10539.0,NaN,NaN,NaN,NaN,661.0,398.0,...,NaN,2690.0,478.0,225.0,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,1088.0,NaN,9846.0,NaN,NaN,211.0,NaN,710.0,430.0,...,NaN,3238.0,561.0,257.0,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,1494.0,NaN,9548.0,NaN,NaN,222.0,NaN,660.0,432.0,...,NaN,3783.0,691.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,3351.0,NaN,9529.0,NaN,NaN,244.0,NaN,687.0,526.0,...,NaN,4642.0,822.0,439.0,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,4775.0,NaN,8993.0,NaN,NaN,256.0,NaN,600.0,514.0,...,NaN,4883.0,1182.0,438.0,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,3670.0,NaN,8851.0,NaN,NaN,276.0,NaN,625.0,536.0,...,NaN,5080.0,1465.0,448.0,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,3482.0,NaN,8381.0,NaN,NaN,258.0,NaN,504.0,500.0,...,NaN,5359.0,1621.0,515.0,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,3452.0,NaN,7796.0,NaN,NaN,287.0,NaN,451.0,445.0,...,NaN,4953.0,2266.0,502.0,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,3737.0,NaN,8279.0,NaN,NaN,297.0,NaN,404.0,440.0,...,NaN,5145.0,2839.0,530.0,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,3941.0,NaN,8914.0,NaN,NaN,313.0,NaN,349.0,468.0,...,NaN,4925.0,3028.0,526.0,NaN,NaN,NaN,NaN,NaN,NaN
2008,955.0,4028.0,219.0,8511.0,NaN,NaN,317.0,NaN,344.0,400.0,...,NaN,4764.0,3438.0,492.0,NaN,NaN,NaN,NaN,NaN,NaN
2009,1265.0,4352.0,270.0,7936.0,NaN,NaN,296.0,NaN,307.0,369.0,...,NaN,5120.0,3981.0,496.0,NaN,NaN,NaN,NaN,NaN,NaN
2010,448.0,4628.0,438.0,7374.0,226.0,NaN,277.0,NaN,295.0,324.0,...,NaN,6200.0,5164.0,504.0,NaN,NaN,NaN,NaN,NaN,258.0

In [66]:
subset = total_births[['John', 'Harry', 'Mary', 'Marilyn']]
subset.plot(subplots=False, figsize=(12, 10), grid=False,
            title="Number of births per year")

#### Measuring the increase in naming diversity

In [67]:
plt.figure()

In [68]:
table = top1000.pivot_table('prop', index='year',
                            columns='sex', aggfunc=sum)
table.plot(title='Sum of table1000.prop by year and sex',
           yticks=np.linspace(0, 1.2, 13), xticks=range(1880, 2020, 10))

In [69]:
df = boys[boys.year == 2010]
df

               name sex  births  year      prop
260877        Jacob   M   21875  2010  0.011523
260878        Ethan   M   17866  2010  0.009411
260879      Michael   M   17133  2010  0.009025
260880       Jayden   M   17030  2010  0.008971
260881      William   M   16870  2010  0.008887
260882    Alexander   M   16634  2010  0.008762
260883         Noah   M   16281  2010  0.008576
260884       Daniel   M   15679  2010  0.008259
260885        Aiden   M   15403  2010  0.008114
260886      Anthony   M   15364  2010  0.008093
260887       Joshua   M   15238  2010  0.008027
260888        Mason   M   14728  2010  0.007758
260889  Christopher   M   14135  2010  0.007446
260890       Andrew   M   14093  2010  0.007424
260891        David   M   14042  2010  0.007397
260892      Matthew   M   13954  2010  0.007350
260893        Logan   M   13943  2010  0.007345
260894       Elijah   M   13735  2010  0.007235
260895        James   M   13714  2010  0.007224
260896       Joseph   M   13657  2010  0.007194
260897      Gabriel   M   12722  2010  0.006701
260898     Benjamin   M   12280  2010  0.006469
260899         Ryan   M   11886  2010  0.006261
260900       Samuel   M   11776  2010  0.006203
260901      Jackson   M   11693  2010  0.006159
260902         John   M   11424  2010  0.006018
260903       Nathan   M   11269  2010  0.005936
260904     Jonathan   M   11028  2010  0.005809
260905    Christian   M   10965  2010  0.005776
260906         Liam   M   10852  2010  0.005716
...             ...  ..     ...   ...       ...
261847         Yair   M     201  2010  0.000106
261848        Talan   M     201  2010  0.000106
261849        Keyon   M     201  2010  0.000106
261850         Kael   M     201  2010  0.000106
261851     Demarion   M     200  2010  0.000105
261852       Gibson   M     200  2010  0.000105
261853       Reagan   M     200  2010  0.000105
261854    Cristofer   M     199  2010  0.000105
261855       Daylen   M     199  2010  0.000105
261856       Jordon   M     199  2010  0.000105
261857      Dashawn   M     198  2010  0.000104
261858        Masen   M     198  2010  0.000104
261859        Rowen   M     197  2010  0.000104
261860       Yousef   M     197  2010  0.000104
261861     Thaddeus   M     197  2010  0.000104
261862        Kadin   M     197  2010  0.000104
261863       Dillan   M     197  2010  0.000104
261864     Clarence   M     197  2010  0.000104
261865        Slade   M     196  2010  0.000103
261866      Clinton   M     196  2010  0.000103
261867      Sheldon   M     196  2010  0.000103
261868      Keshawn   M     195  2010  0.000103
261869     Menachem   M     195  2010  0.000103
261870       Joziah   M     195  2010  0.000103
261871       Bailey   M     194  2010  0.000102
261872       Camilo   M     194  2010  0.000102
261873       Destin   M     194  2010  0.000102
261874       Jaquan   M     194  2010  0.000102
261875       Jaydan   M     194  2010  0.000102
261876       Maxton   M     193  2010  0.000102

[1000 rows x 5 columns]

In [71]:
prop_cumsum = df.sort_values(by='prop', ascending=False).prop.cumsum()
prop_cumsum[:10]

260877    0.011523
260878    0.020934
260879    0.029959
260880    0.038930
260881    0.047817
260882    0.056579
260883    0.065155
260884    0.073414
260885    0.081528
260886    0.089621
Name: prop, dtype: float64

In [72]:
prop_cumsum.values.searchsorted(0.5)

116

In [74]:
df = boys[boys.year == 1900]
in1900 = df.sort_values(by='prop', ascending=False).prop.cumsum()
in1900.values.searchsorted(0.5) + 1

25

In [76]:
def get_quantile_count(group, q=0.5):
    group = group.sort_values(by='prop', ascending=False)
    return group.prop.cumsum().values.searchsorted(q) + 1

diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
diversity = diversity.unstack('sex')

In [77]:
def get_quantile_count(group, q=0.5):
    group = group.sort_values(by='prop', ascending=False)
    return group.prop.cumsum().values.searchsorted(q) + 1
diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
diversity = diversity.unstack('sex')
diversity.head()

sex    F   M
year
1880  38  14
1881  38  14
1882  38  15
1883  39  15
1884  39  16

In [78]:
diversity.plot(title="Number of popular names in top 50%")

#### The "Last letter" Revolution

In [79]:
# extract last letter from name column
get_last_letter = lambda x: x[-1]
last_letters = names.name.map(get_last_letter)
last_letters.name = 'last_letter'

table = names.pivot_table('births', index=last_letters,
                          columns=['sex', 'year'], aggfunc=sum)

In [80]:
subtable = table.reindex(columns=[1910, 1960, 2010], level='year')
subtable.head()

sex                 F                            M
year             1910      1960      2010     1910      1960      2010
last_letter
a            108376.0  691247.0  670605.0    977.0    5204.0   28438.0
b                 NaN     694.0     450.0    411.0    3912.0   38859.0
c                 5.0      49.0     946.0    482.0   15476.0   23125.0
d              6750.0    3729.0    2607.0  22111.0  262112.0   44398.0
e            133569.0  435013.0  313833.0  28655.0  178823.0  129012.0

In [81]:
subtable.sum()

sex  year
F    1910     396416.0
     1960    2022062.0
     2010    1759010.0
M    1910     194198.0
     1960    2132588.0
     2010    1898382.0
dtype: float64

In [82]:
letter_prop = subtable / subtable.sum().astype(float)

In [83]:
import matplotlib.pyplot as plt

fig, axes = plt.subplots(2, 1, figsize=(10, 8))
letter_prop['M'].plot(kind='bar', rot=0, ax=axes[0], title='Male')
letter_prop['F'].plot(kind='bar', rot=0, ax=axes[1], title='Female',
                      legend=False)

In [ ]:
plt.subplots_adjust(hspace=0.25)

In [84]:
letter_prop = table / table.sum().astype(float)

dny_ts = letter_prop.ix[['d', 'n', 'y'], 'M'].T
dny_ts.head()

last_letter         d         n         y
year
1880         0.083055  0.153213  0.075760
1881         0.083247  0.153214  0.077451
1882         0.085340  0.149560  0.077537
1883         0.084066  0.151646  0.079144
1884         0.086120  0.149915  0.080405

In [87]:
plt.close('all')

In [88]:
dny_ts.plot()

#### Boy names that became girl names (and vice versa)

In [89]:
all_names = top1000.name.unique()
mask = np.array(['lesl' in x.lower() for x in all_names])
lesley_like = all_names[mask]
lesley_like

array(['Leslie', 'Lesley', 'Leslee', 'Lesli', 'Lesly'], dtype=object)

In [90]:
filtered = top1000[top1000.name.isin(lesley_like)]
filtered.groupby('name').births.sum()

name
Leslee      1082
Lesley     35022
Lesli        929
Leslie    370429
Lesly      10067
Name: births, dtype: int64

In [91]:
table = filtered.pivot_table('births', index='year',
                             columns='sex', aggfunc='sum')
table = table.div(table.sum(1), axis=0)
table.tail()

sex     F   M
year
2006  1.0 NaN
2007  1.0 NaN
2008  1.0 NaN
2009  1.0 NaN
2010  1.0 NaN

In [92]:
plt.close('all')

In [95]:
table.plot(style={'M': 'k-', 'F': 'k--'})